<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;" />
    <%- include css-common %>
    <link rel="stylesheet"  href="formhelpers/css/bootstrap-formhelpers.min.css" />
    <link rel="stylesheet"  href="bootstrap-switch/stylesheets/bootstrap-switch.css" />
    <link rel="stylesheet"  href="bootstrap-multiselect/css/bootstrap-multiselect.css" />

  </head>
  <body>
  <!-- Facebook JavaScript -->
  <div id="fb-root"></div>

  <!-- Main menu page -->
  <img src="images/logos/bang.on_128x128.png">
  <h2>Hello <%- user_first_name %></h2>
  <h4>Please answer these questions to set up a profile</h4>
  <section id="wizard">
    <form class="form-horizontal" name="formSignUp" action="http://localhost:3000/signup" method="POST">
      <div id="rootwizard" style="visibility:hidden;">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul>
                <li><a href="#basicInfo" data-toggle="tab">Basic Info</a></li>
                <li><a href="#languages" data-toggle="tab">Languages</a></li>
                <li><a href="#care" data-toggle="tab">Care</a></li>
                <li><a href="#cooking" data-toggle="tab">Cooking</a></li>
                <li><a href="#visa" data-toggle="tab">Visa</a></li>
                <li><a href="#complete" data-toggle="tab">Complete</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="bar" class="progress progress-striped active" style="height:7px;">
          <div class="bar"></div>
        </div>

        <ul class="pager wizard">
          <li class="previous"><a href="#">Previous</a></li>
          <li class="next"><a href="#">Next</a></li>
        </ul>

        <div class="tab-content"  style="height:530px;">
          <div class="tab-pane" id="basicInfo">
            <%- include basicInfo %>
          </div>
          <div class="tab-pane" id="languages">
            <%- include languages %>
          </div>
          <div class="tab-pane" id="care">
            <%- include care %>
          </div>
          <div class="tab-pane" id="cooking">
            <%- include cooking %>
          </div>
          <div class="tab-pane" id="visa">
            <%- include visa %>
          </div>
          <div class="tab-pane" id="complete">
            <%- include complete %>
          </div>
        </div>
      </div>
    </form>
  </section>

  <%- include js-common %>
  <script src="twitter-bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
  <script src="formhelpers/js/bootstrap-formhelpers.min.js"></script>
  <script src="bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script src="bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
  <script src="js/main.js"></script>

  <script>

    $(document).ready(function(){

      $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
        var $total = navigation.find('li').length;
        var $current = index+1;
        var $percent = ($current/$total) * 100;
        $('#rootwizard').find('.bar').css({width:$percent+'%'});
      }});

      $('.multiselect').multiselect();
    });

    $('#nationality li').on('click', function() {
      $('#nationalityTitle').html($(this).find('a').html());
    });

    $('#age li').on('click', function() {
      $('#ageTitle').html($(this).find('a').html());
    });

    $('#yearsInHK li').on('click', function() {
      $('#yearsInHKTitle').html($(this).find('a').html());
    });

    $('#maritalStatus li').on('click', function() {
      $('#maritalStatusTitle').html($(this).find('a').html());
    });

    $('#visaSituation li').on('click', function() {
      $('#visaSituationTitle').html($(this).find('a').html());
    });

  </script>

  </body>
</html>
