<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;" />
    <%- include css-common %>

    <%- include opengraph %>
  </head>
  <body>
  <!-- Facebook JavaScript -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '<%- appID %>',                        // App ID from the app dashboard
        status     : true,                                 // Check Facebook Login status
        frictionlessRequests : true,
        xfbml      : true                                  // Look for social plugins on the page
      });

      // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(){
      // If we've already installed the SDK, we're done
      if (document.getElementById('facebook-jssdk')) {return;}

      // Get the first script element, which we'll use to find the parent node
      var firstScriptElement = document.getElementsByTagName('script')[0];

      // Create a new script element and set its id
      var facebookJS = document.createElement('script');
      facebookJS.id = 'facebook-jssdk';

      // Set the new script's source to the source of the Facebook JS SDK
      facebookJS.src = '//connect.facebook.net/en_US/all.js';

      // Insert the Facebook JS SDK into the DOM
      firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
    }());
  </script>

  <!-- Main menu page -->
  <div class="container">
    <div class="span12">
      <img src="images/logos/bang.on_128x128.png">
      <div class="fb-like" data-href="https://www.facebook.com/bangonapp/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <h3>Thank you for signing up to bang.on</h3>
    <p>Help us find you help</p>
    <p><a id="invitefriends_button" href="#" class="btn btn-primary btn-large">Invite your friends &raquo;</a></p>
    <p>bang.on will launch as soon as we have enough people sign up!</p>

  </div>

  <%- include js-common %>
  <script src="bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script src="bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
  <script src="js/main.js"></script>

  <script>
      $('#invitefriends_button').on('click', function(e) {
        FB.ui({method: 'apprequests',
        title: 'Join bang.on with me!',
        message: 'I just joined bang.on! We help you find help, Check it out.'
        }, function(res) {
          var numInvites = 0;
          if (res && res.request && res.to) {
            var request_ids=[];
            numInvites = res.to.length;
            for (i = 0; i < res.to.length; ++i) {
              var temp = res.request + '_' + res.to[i];
              request_ids.push(temp);
            }
            var requests = request_ids.join(',');
            $.post('/invitefriends/callback', {uid: <%- uid %>, request_ids: requests}, function(response) {

            });
          }

          if (numInvites > 0) {
            $.post('/tracking/invitessent', {uid: <%- uid %>, invites_sent: numInvites}, function(response) {

            });
          }
        });
      });
  </script>

  </body>
</html>
